[Desktop Entry]
Encoding=UTF-8
Name=XBMC
GenericName=XBMC
Comment=XBMC Media Center
Exec=xbmc
Icon=/usr/share/linkhome/icons/xbmc.png
StartupNotify=true
Terminal=false
Type=Application
