body {
background-color: black;
background-image: url("/images/ntv-background.png");
background-repeat: no-repeat;
color: #696969;
}
a:link {color: #ffffff; text-decoration: none; }
a:active {color: #0000ff,text-decoration: underline; }
a:visited {color: #ffffff; text-decoration: none; }
a:hover {color: #ff0000;text-decoration: none; }

