body {
background-color: black;
background-image: url("/images/ntv-background.png");
background-repeat: no-repeat;
color: #696969;
}

#menu_item {
        -moz-border-radius: 4px 4px 4px 4px;
	text-decoration: none;
        padding: 16px;
        color: #e3e3e3;
        background-color: #303030;
        border: 1px solid #262626;
	opacity: 0.8;
	display: block;
}

#menu_item:hover {
	color: #FFFFFF;
	background-color: #303030;
	opacity: 1.0;
}

#menu_area {
	position: absolute;
	top: 45%;
	left: 25%;

}


#back_button {

        -moz-border-radius: 4px 4px 4px 4px;
        text-decoration: none;
        padding: 16px;
        color: #e3e3e3;
        background-color: #303030;
        border: 1px solid #262626;
        opacity: 0.8;

	position:fixed;
	left:20px;
	top:50%;
}
