Source: linkhome
Section: misc
Priority: optional
Maintainer: Tom Bruno <tbruno@neurostechnology.com>
Standards-Version: 3.7.3
Build-Depends: debhelper (>= 5.0.0)

Package: linkhome
Architecture: any
Depends: python (>= 2.5), python-pylons (>=0.9.6.2), python-pylons (<< 0.9.7), python-pastescript (>=1.3.6)
Description: The LinkHome Web Interface to your desktop
 LinkHome is a new replacement for traditional desktop systems. Designed to be
 viewed in the browser and on a HD TV, LinkHome brings all access to your system
 via a single web browser.  Launching applications, configuring hardware, even
 setting up logins and other services are the main features of LinkHome. You can
 do the most important tasks and never leave your browser, leaving you to enjoy
 your web TV experience completely.

